@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
body {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(60, 60, 60);
    font-size: 30px;    
}

a{
    text-decoration: none;
}

