body {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(41, 44, 46);
    font-size: 16px;    
}

nav{
    position: fixed;
}

mark{
    color: #f1f1f1;
    background-color: rgb(24, 24, 24);
    padding: 15px;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 5px rgb(24, 24, 24));
}

/*nav pane*/

#charlieQuote {
    font-size: 24px;
    font-family: 'Sansita', sans-serif;
    color: rgb(43, 43, 43);
}

nav{
    width: 27vw;
    display: flex;
    text-align: center;
    background-color: rgb(41, 44, 46);
    float: left;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 1%;
    height: 90vh;
    border-radius: 5px;
}


.navButton {
    display: inline;
    background-color: rgb(225, 232, 243);
    width: 25vw;
    height: 10vh;
    margin: 5px;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 1vw;
    display: inline;
    padding: 15px;
    text-align: center;
    border-radius: 5px;

}

.navButtonText {
    color: rgb(70, 70, 70);
}

/*This is what makes the nav buttons fun!*/
.navButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .navButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .navButton:hover span {
    padding-right: 25px;
  }
  
  .navButton:hover span:after {
    opacity: 1;
    right: 0;
  }


  /*project container*/

  .contentContainer {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(58, 55, 71);
    float: right;
    justify-content: center;
    border-radius: 5px;
    margin: 5px;
  }

 #contentButtonContainer {
    height: 95vh;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(41, 44, 46);
    float: right;
    justify-content: center;
    border-radius: 5px;    
}

.projectContainer{
    width: 31vw;
    height: 40vh;
    border: 10px solid rgb(34, 34, 34);
    border-radius: 10px;
    margin: 5px;
    font-size: 16px;
    padding: 3px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 1px;
    
}


.projectDiv {
  position: absolute;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectText {
    color: rgb(43, 43, 43);
    font-size: 36px;
}


#meknoMonitorProject {
    background-image: url('pictures/MeknoMonitorPictures/paladinConsoleonly.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#ledAppRedesign{
    background-image: url('pictures/LEDAppRedesign/old and new.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
}


#beatsManualRedesign {
    background-color: rgb(127, 161, 255);
}

#fileStuctureRedesign {
    background-color: rgb(127, 161, 255);
}

.MeknoMonitorArticle{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(39, 28, 97);
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
    padding: 3px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 1px;
  padding: 5px;
  background-color: lightgray;
}   

.MeknoMonitorArticle > h3, .articleContent {
    margin: 10px;
    padding: 5px;
    background-color: white;
}

.articleTitleContainer{
    display: flex;
    width: 100%;
    height: 7vh;
    background-color: rgb(101, 95, 136);
    border-radius: 5px;
    align-items: center;
    position: sticky;
    top: 0;
}

.articleTitle {
    padding: 5px;
    font-size: xxx-large;
}

.articleNav{
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    justify-content: right;
    padding-right: 10px;
}

.articleNavButton {
    display: inline;
    width: 5vw;
    background-color: rgb(225, 232, 243);
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

article>h2 {
    font-size: xx-large;
}

article>h3 {
    font-size: x-large;
}

article>p{
    font-size: large;
}

aside {
    width: 30%;
    margin: 5px;
    float: right;
    font-style: italic;
    background-color: lightgray;
    display: flex;
  }

footer {
    text-align: center;
    padding: 3px;
    color: rgb(0, 0, 0);
    position: fixed; 
    bottom: 0;
    height: 5vh;
    background-color: rgb(101, 95, 136);
    width: 100%;
    justify-content: center;
  }


/*
Media Queries
*/

/*fetch Screen size*/
@media screen and (max-width: 800px) {

    .contentContainer,
    .navBody {
        width: 100%;
    }

    .navBody {
        height: 20vh;
    }

    .content {
        width: 80%;
    }
}
@media screen and (max-width: 1100px) {
    .navButton {
        visibility: collapse;
    }
    .content {
        width: 100%;
        height: 23vh;
    }
}