body {
    font-family: "Bierstadt Display", sans-serif;
    color: rgb(8, 8, 8);
    background-color: #f1f1f1;
    height: 100%;
    margin: .5%;
}

#titlePane {
    font-size: 48px;
}

#charlieQuote {
    font-size: 24px;

}

.contentContainer {
    height: 90%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(64, 30, 255);
    float: right;
    justify-content: center;
    padding:2px;
    margin: 15;
}

.content {
    background-color: #f1f1f1;
    width: 45%;
    margin: 3px;
    text-align: center;
    font-size: 16px;
    padding: 3px;
    position: relative;
}

/*.middle, .contentImage .contentOverlayText code for content in index menu 
*/

.content:hover .image {
    opacity: .3;
}

.content:hover .middle {
    opacity: 1;
}

.contentOverlayText {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.middle {
    transition: .5s ease;
    opacity: 1;
    position: center;
    text-align: center;
    float: center;
}

.contentImage {
    opacity: 1;
    display: flex;
    width: 100%;
    transition: .5s ease;
}

aside {
    width: 30%;
    margin: 5px;
    float: right;
    font-style: italic;
    background-color: lightgray;
    display: flex;
  }
/*
Navigation Styles
*/
.navBody {
    width: 27%;
    border:rgb(0, 0, 0);
    display: flex;
    text-align: center;
    background-color: rgb(29, 112, 236);
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1%;
}

.navButtons {
    background-color: #f1f1f1;
    width: 45%;
    text-align: center;
    font-size: 16px;
    justify-content: center;
    display: block;
    padding: 15px;

}

footer {
    text-align: center;
    padding: 3px;
    color: rgb(0, 0, 0);
    position: fixed; 
    bottom: 0;
    height: 50px;
    background-color: rgb(101, 95, 136);
    width: 100%;
    justify-content: center;
  }

@media screen and (max-width: 800px) {

    .contentContainer,
    .navBody {
        width: 100%;
    }

    .content {
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .navButtons {
        visibility: collapse;
    }
}