.navContainer {
    width: 33%;
    font-family: "Bierstadt Display", sans-serif;
    color: black;
    text-align: center;
    background-color: aqua;
    float: left;
}

.contentContainer {
    width: 66%;
    font-family: "Bierstadt Display", sans-serif;
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
    float: right;
    justify-content: center;
}

.content {
    background-color: #f1f1f1;
    width: 45%;
    margin: 10px;
    text-align: center;
    font-size: 16px;
}

@media screen and (max-width: 1000px) {
    .contentContainer, .navContainer{
        width: 100%;
    }
}