@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
body {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(60, 60, 60);
    font-size: 30px;    
}

a{
    text-decoration: none;
}

mark{
    color: #f1f1f1;
    background-color: rgb(24, 24, 24);
    padding: 15px;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 5px rgb(24, 24, 24));
}

/*nav pane*/

.namePic{
    width: 100%;
}

.navQuoteContainer {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#charlieQuote {
    font-size: 1.5vw;
    font-style: italic;
}

@media screen and (max-width: 1000px) {
    #charlieQuote {
        font-size: 3vw;
    }
    .navButtonContainer {
        width: 100%;
    }
}


nav{
    position: fixed;
    width: 27vw;
    text-align: center;
    justify-content: center;
    background-color: rgb(40, 40, 40);
    float: left;
    flex-wrap: wrap;
    padding: 1%;
    height: 90vh;
    border-radius: 5px;
}


.navButton {
    display: inline;
    background-color: rgba(206, 34, 34, 0);
    width: 25vw;
    height: 10vh;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 1vw;
    border-radius: 5px;
    border: none;
}

.navButtonText, #charlieQuote {
    color: rgb(233, 233, 233);
}

/*
-----------------------------------------------
    Nav Button Hover-This is what makes the nav buttons fun!*/
.navButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: x-large;
  }
  
  .navButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .navButton:hover span {
    padding-right: 25px;
  }
  
  .navButton:hover span:after {
    opacity: 1;
    right: 0;
  }

  /*
-----------------------------------------------
    Project Buttons - same thing as nav buttons but different colors
  */

  .projectDiv span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .projectDiv span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .projectDiv:hover span {
    padding-right: 25px;
  }
  
  .projectDiv:hover span:after {
    opacity: 1;
    right: 0;
  }

  mark:hover span{
    padding: left 15px;
  }


  /*
  -----------------------------------------------
  
  project container*/

  .contentContainer {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0);
    float: right;
    justify-content: center;
    border-radius: 5px;
    margin: left 5px, right 5px;
  }

 #contentButtonContainer {
    height: 95vh;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(45, 45, 45);
    float: right;
    justify-content: center;
    border-radius: 5px;    
}

.projectContainer{
    width: 31vw;
    height: 40vh;
    border: 5px solid rgb(40, 40, 40);
    border-radius: 10px;
    margin: 5px;
    position: relative;
    display: flex;
    align-items: center;
}


.projectDiv {
  position: absolute;
  backdrop-filter: blur(30px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectText {
    color: rgb(255, 255, 255);
    font-size: 36px;
}


#meknoMonitorProject {
    background-image: url('pictures/MeknoMonitorPictures/paladinConsoleonly.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#ledAppRedesign{
    background-image: url('pictures/LEDAppRedesign/old and new.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
}


#beatsManualRedesign {
    background-image: url('pictures/BeatsAppRedesign/beatsManualWholeDark.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
}

#fileStuctureRedesign {
    background-image: url('pictures/MeknoMonitorPictures/paladinalphaprototype.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
}

/*
-----------------------------------------------
Article Text
*/

.MeknoMonitorArticle{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    margin: left 8px, right 8px;
    font-size: 16px;
    padding: 3px;
    display: flex;
    align-items: center;
    background-color: rgba(45, 45, 45, 0);
}   

.MeknoMonitorArticle > h3, .articleContent {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.685);
}

.articleTitleContainer{
    display: flex;
    width: 100%;
    height: 7vh;
    background-color: rgba(60, 60, 60, 0.6);
    border-radius: 5px;
    align-items: center;
    position: sticky;
    top: 0;
}

.articleTitle {
    color: #f1f1f1;
    padding: 5px;
    font-size: xxx-large;
}

.barbarbar {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 12px 16px;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    transform: translate(-50%, 0);
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    justify-content: center;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

.dropdown:hover .dropdown-content {
    display: block;
  }

.articleNavBig{
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
}


.articleNavButton {
    display: inline;
    height: 6vh;
    font-size: small;
    background-color: rgba(225, 232, 243, 0);
    padding: left 5px, right 5px;
    border:none;
    cursor: pointer;
    color: #f8f8f8;
    font-size: medium;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

.articleHeaderImageContainer{
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-origin: border-box;
    
}

.articleHeaderImage{
    width: 100%;
    height: 100%;
    background-position: center;
    filter: blur(15px);
}

#LEDAppHeaderImage{
  background-size: 25% 100%;
  background-repeat: repeat;
}

article>h2 {
    font-size: xx-large;
    margin-left: 3vw;
}

article>h3 {
    font-size: large;
    margin-left: 4vw;
}

h2, h3 {
    font-family: 'Didact Gothic', sans-serif;
    text-justify: inter-word;
}

article>p{
    font-size: x-large;
    margin-left: 1vw;
    margin-right: 1vw;
    font-family: 'Didact Gothic', sans-serif;
    text-align: justify;
    text-justify: inter-word;

}


/*
--------------------------------
Photo asides
*/

.rightAside {
    width: 55%;
    margin-left: 15px;
    float: right;
    font-style: italic;
    text-align: center;
    background-color: rgba(45, 45, 45);
    color: #f1f1f1;
    display: flex;
    border-radius: 5px;
  }

  .leftAside{
    width: 45%;
    margin-right: 15px;
    float: left;
    font-style: italic;
    text-align: center;
    background-color: rgba(45, 45, 45);
    color: #f1f1f1;
    display: flex;
    border-radius: 5px;
  }

  /*
--------------------------------
LED App Styles
  */


  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .galleryImage {
    opacity: 0.6;
    transition: all 0.5s ease;
  }
  
  .active,
  .galleryImage:hover {
    opacity: 1;
    transition: all 0.5s ease;
  }








footer {
    text-align: center;
    color: #f1f1f1;
    position: fixed; 
    bottom: 0;
    height: 4vh;
    background-color: rgb(71, 71, 71);
    width: 100%;
    justify-content: center;
    font-size: small;
  }


/*
Media Queries
*/

/*fetch Screen size for whole page*/
@media screen and (max-width: 1000px) {

    main{
        width: 100%;
    }

    .contentButtonContainer{
        width: 100%;
    }

    nav{
        visibility: collapse;
    }
    .contentContainer{
        width: 100%;
    }

}


/*article Nav Screen size */
@media screen and (max-width:1500px) {
    .articleNavBig{
      visibility: collapse;
    }

    .articleNavLittle{
      visibility: visible;
    }
}

@media screen and (min-width: 1500px) {
    .articleNavBig{
      visibility: visible;
    }

    .articleNavLittle{
      visibility: collapse;
    }
}